<!-- START Mobile Nav -->
<div class="sb-slidebar sb-right">
    {{ partial "navmenu.html" (dict "page" . "menu" "left" "id" "menu-main-menu-left") }}
    {{ partial "navmenu.html" (dict "page" . "menu" "right" "id" "menu-main-menu-right") }}
</div>
<!-- END Mobile Nav -->

<div id="sb-site">
    <header>
        <div class="inner">
            <nav class="global left">
                {{ partial "navmenu.html" (dict "page" . "menu" "left" "id" "menu-main-menu-left-1") }}
            </nav>
            <div id="logo">
                <a href="/"><img src="/theme/images/muticomp_logo_white.png" alt="MultiComp Lab"></a>
            </div>
            <nav class="global right">
                {{ partial "navmenu.html" (dict "page" . "menu" "right" "id" "menu-main-menu-right-1") }}
            </nav>
            <div class="sb-toggle-right">
                <img src="/theme/images/icon_mobile.png" alt="Menu">
            </div>
        </div>
    </header>
